@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align ="center">
    <h1>Application Shop Management</h1>
</div>

<div class="row">
    <div class="col-xs-6"  align ="center">
        <h3>@Html.ActionLink("Create new customer", "Create", "Customers")</h3>
    </div>
    <div class="col-sx-6"  align ="center">
        <h3>@Html.ActionLink("Create new Order", "Create", "Orders")</h3>
    </div>
</div>

